<div class="content1">
    <br>
    <form class="form-signin" action="/insertcate" method="POST">
        <h2>Thêm tour</h2>

        <br>

        <div class="form-group">
            <input type="text" name="namecate" placeholder="Loại sản phẩm" />
        </div>

        <button class="btn  btn-warning" type="submit" style="width:15%;">Thêm</button>
    </form>
</div>