<table>
    <tr>
        <th>
            ADMIN
            <hr />
        </th>
    </tr>

    <tr>
        <td>
            <div class="dropdown dropright">
                <p class="btn">
                    <a href="/home">
                        THÔNG TIN
                    </a>
                </p>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="dropdown dropright">
                <p class="btn  dropdown-toggle" data-toggle="dropdown">
                    <a href=""> QUẢN LÝ SẢN PHẨM</a>
                </p>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/list-product">DANH SÁCH</a>
                    <a class="dropdown-item" href="/admin/insert-product">THÊM SẢN PHẨM</a>

                </div>
            </div>

        </td>
    </tr>
    <tr>
        <td>
            <div class="dropdown dropright">
                <p class="btn  dropdown-toggle" data-toggle="dropdown">
                    <a href="">PHÂN LOẠI SẢN PHẨM</a>
                </p>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/listcate">DANH SÁCH</a>
                    <a class="dropdown-item" href="/insertcate">THÊM MỚI</a>

                </div>
            </div>

        </td>
    </tr>
    <tr>
        <td>
            <div class=" btn dropdown dropright">
                <a href="/view_user">
                    QUẢN LÝ KHÁC HÀNG
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="dropdown dropright">
                <p class="btn">
                    <a href="/list_order"> SẢN PHẨM ĐÃ ĐẶT </a>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="dropdown dropright">
                <p class="btn">
                    <a href="/admin/notification">THÔNG BÁO</a>
                </p>
            </div>
        </td>
    </tr>
</table>