<div class="noidungduoi">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <span><img src="images/24h.png" alt="" > hỗ trợ 24/7</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <span><img src="images/vanchuyen.png" alt="" >miễn phí vận chuyển</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <span><img src="images/30ngay.png" alt="" >30 ngày đổi mới</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <form action="">
            <div class="form-group form-inline">
              <input type="text" placeholder="Nhập email để nhận tin từ Xgear" class="form-control">
              <input type="button" value="ĐĂNG KÝ" class="btn btn-danger">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end noidungduoi -->
<div class="footer">
  <div class="container">
    <div class="row tren">
      <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="images/logo.png" alt="">
        <h3>XGEAR – BUILD IT YOURSELF</h3>
        <p>Xgear chuyên máy tính PC, Laptop Gaming MSI, Asus & Acer chính hãng. Mang đến cho khách hàng giải pháp xây dựng máy tính hoàn chỉnh.</p>
      </div>
    </div>
    <!-- end row tren -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 diachi">
        <h4>HÀ NỘI</h4>
        <p>Địa chỉ: 10A1 Ngõ 49, Linh Lang, Q. Ba Đình</p>
        <p>Điện thoại: (028) 7108 1881 – Hotline: 097 232 1881</p>
        <p>Phản ánh chất lượng dịch vụ: 093 183 4446</p>
        <p>Thời gian làm việc: 9AM – 8PM, Chủ nhật: 10AM – 7PM</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  diachi">
        <h4>TP. HỒ CHÍ MINH</h4>
        <p>Địa chỉ: 73 Tự Cường, Phường 4, Q.Tân Bình</p>
        <p>Điện thoại: (028) 7108 1881 – Hotline: 093 373 1881</p>
        <p>Phản ánh chất lượng dịch vụ: 093 183 4446</p>
        <p>Thời gian làm việc: 9AM – 8PM, Chủ nhật: 10AM – 7PM</p>
      </div>
    </div>
    <!-- end row -->
    <div class="row duoi">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h4>THÔNG TIN VỀ XGEAR</h4>
        <ul>
          <li><a href="">Trang chủ</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Đối tác</a></li>
          <li><a href="">Tuyển dụng</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h4>CHÍNH SÁCH</h4>
        <ul>
          <li><a href="">Chính sách giao hàng</a></li>
          <li><a href="">Điều khoản mua bán</a></li>
          <li><a href="">Qui định bảo hành</a></li>
          <li><a href="">Chính sách bảo mật thông tin</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h4>CỘNG ĐỒNG XGEAR</h4>
        <ul>
          <li><a href="">Facebook page</a></li>
          <li><a href="">Youtube channel</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h4>HỖ TRỢ KHÁCH HÀNG</h4>
        <ul>
          <li><a href="">Phòng kinh doanh: sales@xgear.vn</a></li>
          <li><a href="">Hỗ trợ kỹ thuật: hotro@xgear.vn</a></li>
          <li><a href="">Wesite Hỗ Trợ (https://hotro.xgear.vn)</a></li>
        </ul>
      </div>
    </div>
    <!-- end row duoi-->
  </div>
  <!-- end container -->
</div>