<div class="content">
  <div class="bannertop">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-sm-lg-3 text-center">
          <a href="../html/home.html"><img src="/images/logo.png" alt="" class="img img-fluid"></a>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-6 col-sm-lg-6">
          <form class="form-inline form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm...">
              <input type="button" value="Tìm Kiếm" class="btn btn-danger">
            </div>
          </form>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-1 col-sm-lg-1 giohang">
          <span><i class="fa fa-shopping-cart"></i></span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 col-sm-lg-2 dangnhap">
          <ul>
            <li><a href="/login"><i class="fa fa-user-o"></i></a></li>
            <li class="dangki"><a href="/login"> <b> Đăng nhập</b> hoặc đăng ký mới</a></li>
          </ul>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end contaier -->
  </div>
  <!-- end banner top -->
  <div class="menutop">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="menutrai">
            <ul>
              <li><a href="#"><i class="fa fa-bars iconbar"></i>Danh Mục<i class="fa fa-caret-down"></i></a>
                <ul class="cap1">
                  <li><a href="#" style="color: rgb(107, 107, 107);">Laptop<span>></span> </a>
                    <ul class="cap2">
                      <li><a href="../html/laptopasus.html">Laptop MSI</a></li>
                      <li><a href="../html/laptopasus.html">Laptop Asus</a></li>
                      <li><a href="../html/laptopasus.html">Laptop Lenovo</a></li>
                      <li><a href="../html/laptopasus.html">Laptop HP</a></li>
                      <li><a href="../html/laptopasus.html">Laptop Dell </a></li>
                      <li><a href="../html/laptopasus.html">Laptop Acer </a></li>
                    </ul>
                  </li>
                  <li><a href="#" style="color:  rgb(107, 107, 107);">Xgear PC<span>></span></a>
                    <ul class="cap2">
                      <li><a href="../html/pcstore.html">PC theo giá</a></li>
                      <li><a href="../html/pcstore.html">PC đồ họa</a></li>
                      <li><a href="../html/pcstore.html">PC Gaming</a></li>
                      <li><a href="../html/pcstore.html">Tùy chọn cấu hình</a></li>
                    </ul>
                  </li>
                </ul>
          </div>
          <!-- end menutrai -->
        </div>
        <!-- end col -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="menuphai">
            <ul>
              <li style="color:  rgb(107, 107, 107);"><i class="fa fa-bars iconbar"></i>Chính Sách<i
                  class="fa fa-caret-down"></i>
                <ul>
                  <li>
                    <a href="../html/tinchap.html" style="color:  rgb(107, 107, 107);">Trả góp 0% - Tín chấp</a>
                  </li>
                  <li>
                    <a href="../html/tinndung.html" style="color:  rgb(107, 107, 107);">Trả góp 0% - tín dụng</a>
                  </li>
                  <li>
                    <a href="../html/csbanhang.html" style="color:  rgb(107, 107, 107);">C.S bán hàng</a>
                  </li>
                  <li>
                    <a href="../html/csgiaonhan.html" style="color:  rgb(107, 107, 107);">c.s giao nhận</a>
                  </li>
                  <li>
                    <a href="../html/lienhe.html" style="color:  rgb(107, 107, 107);">liên hệ</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- end menuphai -->
        </div>
        <!-- end col -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 "></div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end menutop -->
  <div class="noidungtren">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
          <img src="images/TÍN-CHẤP.jpg" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
          <img src="images/TÍN-DỤNG.jpg" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
          <img src="images/30-NGÀY.jpg" alt="">
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end noidungtren -->
</div>
  
