<div class="content">
    <div class="bannertop">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-sm-lg-3 text-center">
            <a href="dashboard"><img src="/images/logo.png" alt="" class="img img-fluid"></a>
          </div>
          <div class="col-xs-4 col-sm-6 col-md-6 col-sm-lg-6">
            <form class="form-inline form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm...">
                <input type="button" value="Tìm Kiếm" class="btn btn-danger">
              </div>
            </form>
          </div>
          <div class="col-xs-4 col-sm-2 col-md-1 col-sm-lg-1 giohang">
            <span><i class="fa fa-user-o"></i></span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2 col-sm-lg-2 dropdown show dangnhap">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tài khoản
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/register">Đăng ký</a>
                <a class="dropdown-item" href="/logout">Đăng xuất</a>
              </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end contaier -->
    </div>
    <!-- end banner top -->
    <div class="menutop">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="menuphai">
              <ul>
                <li style="color:  rgb(107, 107, 107);"><i class="fa fa-bars iconbar"></i>Chính Sách<i
                    class="fa fa-caret-down"></i>
                  <ul>
                    <li>
                      <a href="../html/csbanhang.html" style="color:  rgb(107, 107, 107);">C.S bán hàng</a>
                    </li>
                    <li>
                      <a href="../html/csgiaonhan.html" style="color:  rgb(107, 107, 107);">c.s giao nhận</a>
                    </li>
                    <li>
                      <a href="../html/lienhe.html" style="color:  rgb(107, 107, 107);">liên hệ</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- end menuphai -->
          </div>
          <!-- end col -->
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 "></div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end menutop -->
</div>
    
  