<div class="content">
  <div class="bannertop">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-sm-lg-3 text-center">
          <a href="home"><img src="/images/logo.png" alt="" class="img img-fluid"></a>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-6 col-sm-lg-6">
          <form class="form-inline form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm...">
              <input type="button" value="Tìm Kiếm" class="btn btn-danger">
            </div>
          </form>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-1 col-sm-lg-1 giohang">
          <span><i class="fa fa-shopping-cart"></i></span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 col-sm-lg-2 dangnhap">
          <ul>
            <li><a href="/register"><i class="fa fa-user-o"></i></a></li>
            <li class="dangki"><a href="/login"> <b> Đăng nhập</b> hoặc đăng ký mới</a></li>
          </ul>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end contaier -->
  </div>
  <!-- end banner top -->
  <div class="menutop">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          
        </div>
        <!-- end col -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          
        </div>
        <!-- end col -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 "></div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end menutop -->
  <div class="noidungtren">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
          <img src="/images/TÍN-CHẤP.jpg" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
          <img src="/images/TÍN-DỤNG.jpg" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
          <img src="/images/30-NGÀY.jpg" alt="">
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end noidungtren -->
</div>
  
